[submodule "MetalTest/MetalTest/src/utils/MetalMatrixKit"]
	path = MetalTest/MetalTest/src/utils/MetalMatrixKit
	url = git@github.com:SourceKim/MetalMatrix.git
[submodule "MetalMatrix"]
	path = MetalMatrix
	url = git@github.com:SourceKim/MetalMatrix.git
